.App{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 1%;
}


.image-container {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

img {
  max-width: 800px;
  margin: 10px;
}
